:root {
    /* Color palette: https://colorhunt.co/palette/27374d526d829db2bfdde6ed */
    --color-shade-one: #222831;
    --color-shade-two: #393E46;
    --color-shade-three: #EEEEEE;
    --color-primary: #D65A31;
}