
  /* General
   * ========================================================================== */

/* Broken responsiveness on mobile fix */
body,html {
    overflow-x: hidden;
}

/* Reduces the excesive padding of the default footer */
.footer {
    padding-bottom: 1.7%;
    background-color: var(--color-shade);
}

html {
    scroll-behavior: smooth;
}

  /* Classes
   * ========================================================================== */

.column {
    flex-grow: 0; /* Bulma's column class override */
    margin: auto; /* Center every column */
}

.title-container {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-image {
    background-color: transparent;
    background-image: none;
} 

.navbar-burger {
    color: var(--color-shade-three); /* Button of mobile navbar */
}

.navbar-item {
    margin: 0.1em;
    color: var(--color-shade-three) !important;
    transition: ease-in-out 0.3s;
    background-color: transparent !important;
}

.navbar-item:hover,
.navbar-item:active {
    background-color: transparent !important;
    color: var(--color-white) !important;
    transition: ease-in-out 0.3s;
}

.dark-theme {
    color: var(--color-shade-four);
    background-color: var(--color-shade-one);
} 

.dark-theme-secondary {
    color: var(--color-shade-four);
    background-color: var(--color-shade-two);
} 

.navbar-center {
    margin-left: auto; /* Center all navbar items */
    margin-right: auto; /* Center all navbar items */
}

/* Custom container since there's no helper on Bulma */
.is-adaptable {
    height: 100% !important;
}

  /* Custom theme classes
   * ========================================================================== */

.background-color {
    background-color: var(--color-shade-one) !important;
}
  
.background-color-sec {
    background-color: var(--color-shade-two) !important;
}

.text-color {
    color: var(--color-white);
}

.text-color-sec {
    color: var(--color-shade-four);
}

.text-color-primary {
    color: var(--color-primary);
}

.hero-image {
    background: url(), url(../img/hero_background.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 50%, cover;
}

#title-hero,
#subtitle-hero {
    font-family: "Helvetica2";
    line-height: 1em;
    text-align: center;
    letter-spacing: 1px;
}

#title-hero {
    font-size: 5em;
    color: var(--color-white);
}

#title-skills {
    font-size: 4em;
}

#subtitle-hero {
    font-size: 3.78em;
    font-weight: bold;
    color: var(--color-primary);
}




.navbar {
    padding: 40px 130px; /* Bulma's navbar class override */
    transition: 0.3s ease;
    background: transparent !important; 
  }

  .navbar.nav-bg {
    background-color: var(--color-shade) !important; /* Bulma's navbar class override */
    padding: 15px 100px;
  }

  @media (max-width: 991px) {
    .navbar.nav-bg {
      padding: 15px 20px;
      background:  var(--color-shade) !important; /* Bulma's navbar class override */
    }
  }

  @media (max-width: 991px) {
    .navbar {
      padding: 20px;
      background:  var(--color-shade) !important; /* Bulma's navbar class override */
    }
  }

  @media (max-width: 1023px) {
    .navbar-menu {
      background:  var(--color-shade) !important;  /* Bulma's navbar class override */
    }
  }

#skills {
    height: 80dvh;
    color: var(--color-white) !important;
}
